{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.photo %}
    <p><img src="{{ user.photo.url }}"></p>
    {% else %}
    <p><img src="{{ default_image }}"></p>
    {% endif %}
    <div>{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div>{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Сhange</button></p>
</form>
<hr>
<p><a href="{% url 'users:password_change' %}">Change password</a></p>
{% endblock %}