{% extends 'base.html' %}

{% block content %}
<div class="post-detail">
    <div class="post-detail-inner">

        {% if info.photo %}
        <div class="post-image-wrapper">
            <img src="{{ info.photo.url }}" alt="">
        </div>
        {% endif %}

        <div class="post-text">
            <p>{{ info.content }}</p>
            <p>Age: {{ info.old }}</p>

            {% with info.tags.all as tags %}
            {% if tags %}
            <ul class="post-tags">
                {% for tag in tags %}
                <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            {% if info.author == user %}
            <a href="{% url 'edit' info.slug %}">Edit post</a>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}